[Unit]
Description=Torrent in a Box

[Container]
Image=localhost/torrent:latest
HostName=torrent
Volume=/home/media:/home/media
PublishPort=9091:9091
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun
DNS=1.1.1.1
StopTimeout=60

[Service]
ExecStartPre=/bin/bash -c 'until /usr/bin/ping -c 1 192.168.1.1 -W 1; do :; done'
Restart=unless-stopped

[Install]
WantedBy=default.target
After=podman-user-wait-network-online
